<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>{{content}}</div>
        <div>That is default HTML1 content about User {{user(001):name}}</div>
        <div>That is default HTML2 content about User {{user(001):email}}</div>
        <div>That is default HTML3 content about smbd Content {{module(menu)}}</div>
        <div>That is default HTML3 content about smbd Content {{content(101):text}}</div>
    </body>
</html>
